.testing-border{
    /*    class was created just to test borders of a div*/
    border: 3px solid #bfa47d;
/*    border-top:0; */
}
@font-face{
    font-family: 'Open Sans', sans-serif;
    src : url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Sharp sans', sans-serif;
    src: url(fonts/Sharp Sans No2 Book.otf);
}
@font-face {
    font-family: 'gilroylight,sans-seriff;
    src: url(fonts/Gilroy-Light.otf);
}
body{
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
    /*    these properties are common amoung all body so we put them here in body*/
}
.navbar-shadow{
    box-shadow: 0px 1px 5px 0px #ebebeb;
}
.flexbox{
    display: flex;
}

.navbar-main{
    display: flex;
    justify-content: space-between;
}
.left-area{
    display: flex;
}
.navbar-gklogo{
    height: 70px;
}
/*left area css including logo and language select*/
.navbar-gklogo img{
    width: 70px;
    margin-left: 15px;
}
.lang-select{
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 30px;
}
.lang-select a:first-child{
    font-size: 12px;
    font-weight: 400;
    padding:10px;
}
.lang-select a:first-child:hover{
    cursor:pointer;
    color:#FF9D0E;
    font-weight: 600;
}
.lang-list{
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    width: 40vw;
    left: 0;
    min-height: 216px;
    height: auto;
    background: transparent;
    overflow-y: auto;
    z-index: 2;
}

.lang-list li{
    cursor: pointer;
}
.lang-list li:hover{
    box-shadow: none !important;
    color: #ffa016;
}
/*right side of the nav bar starts here*/

.right-side-area{
    display: flex;
    margin-right: 30px;
    align-items: center;
}
/*lets divide right side area into further sections*/ 
/*first section is user-credits classed div it contains user related informations*/
.user-credits{
    display: flex;
    align-items: center;
    height: 50px;
    background: #ECECEC;
    padding: 0 10px;
    border-radius: 5px;
}
.user-credits i{
    font-size: 30px;
    color: #9b9b9b;
    text-decoration: none;
    margin-right: 10px;
}
/*vertical line is just an empty div with left border and it apears as a line as a divider*/
.vertical-line{
    height: 25px;
    border-left: 1px solid #9b9b9b;
    margin-right: 10px;
}
/*2nd section starts here with user's cart's credit information*/
.incart-amounts{
    font-size: 12px;
}
.incart-amounts li{
    color: #9b9b9b;
    font-size: 0.9em;
    line-height: 20px;
}
.incart-amounts li:nth-child(2){
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}
.incart-amounts ul{
    text-decoration: none;
    align-items: center;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
}
/*icons related to user were handled here*/
.nav-icons{
    display: flex;
}
.nav-icons{
    margin: 0;
/*    padding: 0;*/
}
.nav-icons li{
    margin-left: 15px;
}
.nav-icons li a{
    color: #9b9b9b;
    text-decoration: none;
}
.nav-icons li a img{
    width: 25px;
    border-radius: 50%;
}
/*menu related styling starts here*/
.menu-opener{
    margin-left: 15px;
    align-items: center;
    font-size: 1.5em;
    font-weight: 400;
    color: #9b9b9b;
    text-decoration: none;
}
.menu-opener:hover{
    text-decoration: none;
    color: black;
}
/*    sidebar area is styled here*/
.my-sidebar-area{
    display: none;
    position: fixed;
    height: 100%;
    max-height: 70%;
    width: 50vw;
    right: 0;
    top:0;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0px 1px 0px 2px #ebebeb;
    border-radius: 0 0 0 50%;
    border-left: 30px solid rgba(241, 240, 239, 0.35);
    animation-name: sidebar-slidein;
    animation-duration: 1s;
    z-index: 2;
}
.my-sidebar-header{
    display: flex;
    flex-direction: row-reverse;   
}
.my-sidebar-header button{
    margin: 10px 40px;
    border:none;
    font-size: 3em;
    color: #9b9b9b;
    cursor: pointer;
    font-weight: 300;
}
.my-sidebar-header button:hover{
    color: black;
    text-decoration: none;
}
.my-sidebar-body{
    position: relative;
    margin-right: 40px;
}
.my-sidebar-list{
    flex-flow: column wrap;
    text-align: right;
    line-height: 2em;
}
.my-sidebar-body a{
    color: #9b9b9b; 
}
.my-sidebar-body a:hover{
    color: #ffa016;
    text-decoration: none;
}
.my-sidebar-list li a{
    animation-name: sidebar-slidein;
    animation-delay: 3s;
}
/*header completes here*/
/*banner section*/
.banner-body{
    display: flex;
    position: relative;
    height: 40vw;
    align-items: center;
    overflow: hidden;
}
.background-main-text{
    font-size: 17vw;
    line-height: 35vh;    
    font-family: 'Sharp sans', sans-serif;
    font-weight: bold;
    opacity: 0.1;
    width: 100%;
    text-align: center;
}
.models-img-container{
    display: flex;
    position: relative;
    flex-basis: 100%;
    height: 100%;
    align-self: center;
}
.model-1{
    position: absolute;
    left: 14%;
    bottom: 0;
    height: 100%;
    z-index: 1;
}
.shapes-n-miami-text{
    position: absolute;
    top: 4%;
    left: 17%;;
}
.miami-bombshell-banner-text{
    left: 170%;
    bottom: 10px;
}
.shape1-borders-only{
    position: absolute;
    display: inline-block;
    left: 20%;
    height: 100px;
    width: 145%;
/*    width: 210%;*/
    border-top: 1px solid black;
    border-left: 1px solid black; 
}
.shape1-straingt{
    position: absolute;
    display: inline-block;
    top: 100px;
    left: 20%;
    height: auto;
    width: 30%;
    border-top: 1px solid black;
    z-index: 1;
}
.shape1-dot{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 98px;
    height: 5px;
    width: 5px;
    background: black;
    border-radius: 50%;
    z-index: 1;
}
.resistant-shape-text{
    position: absolute;
    align-self: center;
    top: 4%;
    left: 40%;
    z-index: 1;
}
.model-2{
    position: absolute;
    left: 35%;
    bottom: 0;
    height: 100%;
    z-index: 1;
}
.shape2-borders-only{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 40%;
    height: 100px;
    width: 70%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.shape2-dot{
    position: absolute;
    display: inline-block;
    left: 105%;
    top: 107px;
    height: 5px;
    width: 5px;
    background: black;
    border-radius: 50%;
}
.resistant-banner-text{
}
.model-3{
    position: absolute;
    left: 64%;
    bottom: 0;
    height: 120%;
    z-index: 1;
}
.thebest-shape-text{
    position: absolute;
    right: 15%;
    z-index: 1;
}
.the-best-banner-text{
    align-self: center;
    left: 59%;
    bottom: 13%
}
.shape3-borders-only{
    position: absolute;
    display: inline-block;
    top: 29px;
    left: 17%;
    height: 100px;
    width: 90%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.shape3-dot{
    position: absolute;
    display: inline-block;
    left: 10%;
    top: 126px;
    height: 5px;
    width: 5px;
    background: black;
    border-radius: 50%;
}
.products-name{
    position: relative;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: bold;
    line-height: 12px;
}
.products-name p{
    margin:0;
}
/*Grid styling starts here*/
.grid-wraper{
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10%;
    border-bottom: 1px solid #d1d1d2;
}
.grid-header{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-top: 10%;
/*    letter-spacing: 5px;*/
    font-size: 24px;
    color: #FF9D0E;
    font-family: gilroylight,sans-serif;
}
.grid-content-wraper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top:5%;
    height: 100%;
}
.grid-content{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    flex-basis: 20%;
    font-size: 14px;
    flex-grow: 1;
    margin: 0 10px;
}
.grid-content div{
    margin-bottom: 10%;
}
.logo{
/*    align-self: flex-end;   */
}
.resistant{
    margin-top: 29px;
}
.the-best{
    margin-top: 14px;
}
.btn-knowmore{
    background: transparent;
    font-size: 12px;
    border: 1px solid black;
    max-width: 150px;
    min-width: 120px;
    max-height: 40px;
    align-self: center;
}

/*Call to Action motivation banner area starts here*/
.CTA-wraper{
    display: flex;
    position: relative;

}
.orange-dot{
    position: absolute;
    background: #FF9D0E;
    height: 10px;
    width: 10px;
    left: 5%;
    top: 29%;

}
/*Call to Action written content*/
.cta-written-content{
    margin: 6%;
    flex-basis: 50%;
    font-size: 18px;
}
.cta-written-content p:first-child{
    letter-spacing: 5px;
    font-weight: bold;
    font-family: gilroylight,sans-serif;
}
.cta-written-content p:nth-child(3){
    font-size: 1em;
    font-weight: 300;
    margin: 0;
}

/*got out of cta written content*/
.CTA-model{
    position: absolute;
    flex-basis: 50%;
    height: auto;
    width: 22%;
    bottom: 0;
    right: 8%;
    z-index: 1;
}

/*a banner of pupel color is styled here*/
.purpel-div{
    position: relative;
    background: #592c82;
    width: 100%;
    padding: 50px 0;
   /* bottom: 30px;*/
}
.btn-banner{

}
/*
.btn-banner div:first-child{
    padding: 0;
}
*/
.btn-banner button{
    padding: 12px 10px; 
}
.btn-booktreatment{
    background: #ffa016;
    font-size: 12px;
    color: #fff;
    margin-right:20px;
}
.learnmore-button{
    background: transparent;
    font-size: 12px;
    color: #fff;
    margin-left: 5px;
    border: 1px solid white;
}

/*MEDIA QURIES STARTS HERE*/
/*MEDIA QURIES STARTS HERE*/
/*MEDIA QURIES STARTS HERE*/

@media (min-width: 1024px) and (max-width: 2559px){
    .btn-banner{
        width: 74vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
   .d-none-on-sm{
        display: none;
    }
    .hide-div{
        display: none;
    }
/*    QURIES FOR BANNER*/
    .banner-body{
        height: 50vw;
    }
    .background-main-text{
        bottom: 53%;
        font-size: 20vw;
    }
    .model-1{
        left: 6%;
    }
    .shapes-n-miami-text{
        top: 7%;
        left: 8%;
    }
    .model-2{
        left: 31%;
        height: 98%;
    }
    .resistant-shape-text{
        left: 36%;
        
    }
    .shape2-borders-only {
        width: 45%;
        left: 60%;

    }
    .model-3{
        left: 66%;
        height: 117%;
    }
    .thebest-shape-text{
        right: 25%;

    }
    .the-best-banner-text{
        left: 0;
        top: 7px;
    }
    .shape3-borders-only{
        border-right: none;
        border-left: 1px solid black;
    }
    .shape3-dot{
        left: 95%;
    }
/*    quries for grid section*/
   
    
/*    quries for CTA section*/
    .cta-written-content{
        flex-basis: 75%;
        font-size: 14px;
        margin-bottom: 5%;
    }
    .cta-written-content p{
        letter-spacing: 0px !important;
    }
}

@media only screen and (min-width: 421px) and (max-width: 767px){
     
    .navbar-gklogo img{
        margin:0;
        padding: 0;
    }
    .lang-select{
        margin: 0;
        padding: 5px;
        font-size: 12px;
    }
    .d-none-on-xs{
        display: none;
    }
    .right-side-area{
        margin: 0;
    }
    .hide-div{
        display: none;
    }
    .lang-list li{
        right: 5px;
    }
    .lang-select a:first-child{
        padding: 0 5px;
    }
    .user-credits i{
        margin: 0;
    }
/*    quries for banner images*/
    .banner-body{
        height: 65vw;
    }
    .background-main-text{
        bottom: 55%;
        font-size: 25vw;
    }
    .products-name{
        font-size: 8px;
        line-height: 7px;
    }
    .model-1{
        height: 100%;
        left: 34%;
        box-sizing: border-box;
    }
    .shapes-n-miami-text{
        left: 35%;
    }
    .shape1-borders-only{
        width: 100%;

    }
    .miami-bombshell-banner-text {
        left: 126%;
        bottom: 4px;
    }
    .model-2{
        left: -16%;
        height: 95%;

    }
    .resistant-shape-text{
        left: 22%;
    }
    .resistant-banner-text{
        bottom: 45%;
        left:0 ;
    }
    .shape2-borders-only{
        left: 0;
        border-right: 1px solid black;
        border-left: none;

    }
    .shape2-dot{
        left: 0;
    }
    .model-3{
        left: 70%
    }
    .shape3-borders-only{
        border-left: 1px solid black;
        border-right: none;
        top: 17px;
        left: 23%;
        width: 75%;
    }
    .shape3-dot{
        left: 27px;
        top: 114px;
    }
    
    .the-best-banner-text{
        top: 4px;
        left: 0;
    }
    
    .model-2{
        left: -12%;
    }
    .model-3{
     left: 65%;
    }
/*    grid contents quries here*/
     .grid-header p{
        margin: 0;
    }
    .grid-content{
        font-size: 12px;
    }
    .grid-content-wraper{
        flex-flow: column wrap;
        margin: 0;
    }
    .logo{
        margin-top: 35px;
    }
    .grid-content div{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
/*    CTA SECTION Quries Mobile-L HERE*/
    .orange-dot{
        left: 6%;
        top: 19%;
        height: 7px;
        width: 7px;
    }
    .cta-written-content{
        font-size: 12px;
        flex-basis: 80%;
        margin-bottom: 10%;
    }
    .cta-written-content p{
        letter-spacing: 0px !important;
    }
    .CTA-model{
        width:33%;
        right: 0;
    }
    .CTA-model img{
        
    }
    .btn-banner {
        flex-flow: column wrap;
        margin-left: 0;
        top: 25px;
        left: 14vw;
    }
    .btn-banner button{
        margin-bottom: 10px;
    }
    .purpel-div{
        display: flex;
        /*bottom: 0px;*/
        justify-content: center;

    }
}

@media only screen and (max-width: 420px){
    .navbar-gklogo img{
        margin:0;
        padding: 0;
    }
    .navbar-shadow{
        padding:0;
    }
    .lang-select{
        margin: 0;
        padding: 5px;
    }
    .right-side-area{
        margin: 5px;
    }
    .d-none-on-xs{
        display: none;
    }
    .user-credits i{
        margin: 0;
    }
    .hide-div{
        display: none;
    }
    .lang-list{
        width: 60vw;
    }
    .lang-list li{
        right: 0;
    }
    .lang-select a:first-child{
        padding: 0;
        font-size: 11px;
    }
/*    SIDEBAR QURIES*/
    .my-sidebar-body{
        margin-right: 5px;
    }
    .my-sidebar-header button{
        margin: 0;
    }
    .my-sidebar-area{
        width: 85vw;
}
/*    BANNER QURIES HERE*/
    .banner-body{
        height: 65vw;
    }
    .background-main-text{
        line-height: 10vh;
    }
    .model-1{
        height: 100%;
        left: 33%;

        box-sizing: border-box;
    }
    .shapes-n-miami-text{
        left: 35%;
    }
    .miami-bombshell-banner-text {
        bottom: 5px;
        font-size: 5px;
        line-height: 6px;
    }
    .model-2{
        left: -16%;
        height: 95%;

    }
    .resistant-shape-text{
        left: 22%;
    }
    .resistant-banner-text{
        bottom: 45%;
        left:0 ;
        font-size: 5px;
    }
    .shape2-borders-only{
        left: 0;
        border-right: 1px solid black;
        border-left: none;

    }
    .shape2-dot{
        left: 0;
    }
    .model-3{
        left: 65%
    }
    .shape3-borders-only{
        border-left: 1px solid black;
        border-right: none;
        top: 17px;
        left: 23%;

    }
    .shape3-dot{
        left: 24px;
        top: 113px;
    }
    
    .the-best-banner-text{
        top: 4px;
        left: 34%;
        font-size: 5px;
        line-height: 5px;
    }
/*    grid contents quries here*/
    .grid-header p{
        margin: 0;
    }
    .grid-content{
        font-size: 12px;
    }
    .grid-content-wraper{
        flex-flow: column wrap;
        margin: 0;
        align-items: center;
    }
    .logo{
        margin-top: 35px;
    }
    .grid-content div{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
/*    CTA mobile-S QURIES HERE*/
    .CTA-wraper{
        justify-content: center;
    }
    .orange-dot{
        left: 11%;
        top: 15%;
        height: 8px;
        width: 8px;

    }
    .cta-written-content{
        font-size: 12px;
        flex-basis: 75%;
        margin-bottom: 10%;
    }
    .cta-written-content p{
        letter-spacing: 0px !important;
    }
/*    PURPLE DIV min-420 queries HERE*/
    .purpel-div{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 35px 0;
    }
    .CTA-model img{
        display: none;
    }
    .btn-banner {
        display: flex;
        flex-flow: column wrap;
        padding: 0 20%;
    }
    .btn-banner button:first-child{
        margin-bottom: 20px;
        width: 100%;
    }
    .learnmore-button{
        margin-left: 0;
    }
    
    
}


@keyframes sidebar-slidein{
    from {
    width: 0%; 
  }
/*
  to {
    width: 435px%;
  }
*/
}
@keyframes text-slidein{
    0%{
        right: 0%;
    }
    100%{
        right:100%;
    }
}