.testing-border{
    /*    class was created just to test borders of a div*/
    border: 3px solid #bfa47d;
/*    border-top:0; */
}
@font-face{
    font-family: 'Open Sans', sans-serif;
    src : url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Sharp sans', sans-serif;
    src: url(fonts/Sharp Sans No2 Book.otf);
}
@font-face {
    font-family: 'Gilroy-Light', sans-serif;
    src: url(fonts/Gilroy-Light.otf);
}
body{
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
    /*    these properties are common amoung all body so we put them here in body*/
}
.navbar-shadow{
    box-shadow: 0px 1px 5px 0px #ebebeb;
}
.flexbox{
    display: flex;
}
/*
.gk-navbar{
    height: 70px;
}
*/
.navbar-main{
    display: flex;
    justify-content: space-between;
}
.left-area{
    display: flex;
}
.navbar-gklogo{
    height: 70px;
}
/*left area css including logo and language select*/
.navbar-gklogo img{
    width: 70px;
    margin-left: 15px;
}
.lang-select{
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 30px;
}
.lang-select a:first-child{
    font-size: 12px;
    font-weight: 400;
    padding:10px;
}
.lang-select a:first-child:hover{
    cursor:pointer;
    color:#FF9D0E;
    font-weight: 600;
}
.lang-list{
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    width: 40vw;
    left: 0;
    min-height: 216px;
    height: auto;
    background: transparent;
    overflow-y: auto;
    z-index: 2;

}

.lang-list li{
    cursor: pointer;
}
.lang-list li:hover{
    box-shadow: none !important;
    color: #ffa016;
}
/*right side of the nav bar starts here*/

.right-side-area{
    display: flex;
    margin-right: 30px;
    align-items: center;
}
/*lets divide right side area into further sections*/ 
/*first section is user-credits classed div it contains user related informations*/
.user-credits{
    display: flex;
    align-items: center;
    height: 50px;
    background: #ECECEC;
    padding: 0 10px;
    border-radius: 5px;
}
.user-credits i{
    font-size: 30px;
    color: #9b9b9b;
    text-decoration: none;
    margin-right: 10px;
}
/*vertical line is just an empty div with left border and it apears as a line as a divider*/
.vertical-line{
    height: 25px;
    border-left: 1px solid #9b9b9b;
    margin-right: 10px;
}
/*2nd section starts here with user's cart's credit information*/
.incart-amounts{
    font-size: 12px;
}
.incart-amounts li{
    color: #9b9b9b;
    font-size: 0.9em;
    line-height: 20px;
}
.incart-amounts li:nth-child(2){
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}
.incart-amounts ul{
    text-decoration: none;
    align-items: center;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
}
/*icons related to user were handled here*/
.nav-icons{
    display: flex;
}
.nav-icons{
    margin: 0;
/*    padding: 0;*/
}
.nav-icons li{
    margin-left: 15px;
}
.nav-icons li a{
    color: #9b9b9b;
    text-decoration: none;
}
.nav-icons li a img{
    width: 25px;
    border-radius: 50%;
}
/*menu related styling starts here*/
.menu-opener{
    margin-left: 15px;
    align-items: center;
    font-size: 1.5em;
    font-weight: 400;
    color: #9b9b9b;
    text-decoration: none;
}
.menu-opener:hover{
    text-decoration: none;
    color: black;
}
/*    sidebar area is styled here*/
.my-sidebar-area{
    display: none;
    position: fixed;
    height: 100%;
    max-height: 70%;
    width: 50vw;
    right: 0;
    top:0;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0px 1px 0px 2px #ebebeb;
    border-radius: 0 0 0 50%;
    border-left: 30px solid rgba(241, 240, 239, 0.35);
    animation-name: sidebar-slidein;
    animation-duration: 1s;
    z-index: 2;
}
.my-sidebar-header{
    display: flex;
    flex-direction: row-reverse;   
}
.my-sidebar-header button{
    margin: 10px 40px;
    border:none;
    font-size: 3em;
    color: #9b9b9b;
    cursor: pointer;
    font-weight: 300;
}
.my-sidebar-header button:hover{
    color: black;
    text-decoration: none;
}
.my-sidebar-body{
    position: relative;
    margin-right: 40px;
}
.my-sidebar-list{
    flex-flow: column wrap;
    text-align: right;
    line-height: 2em;
}
.my-sidebar-body a{
    color: #9b9b9b; 
}
.my-sidebar-body a:hover{
    color: #ffa016;
    text-decoration: none;
}
.my-sidebar-list li a{
    animation-name: sidebar-slidein;
    animation-delay: 3s;
}
/*header completes here*/
/*banner section*/
.banner-body{
    display: flex;
    position: relative;
    background-image: url("../images/background.jpg");
    height: 40vw;
    align-items: center;
    overflow: hidden;
}
.background-main-text{
    position: absolute;
    bottom: 48%;
    font-family: 'Sharp sans', sans-serif;
    font-size: 17vw;
    font-weight: bold;
    opacity: 0.1;
    width: 100%;
    
/*
    z-index: 0;
    align-self: center;
*/
    text-align: center;
}
.models-img-container{
    display: flex;
    position: relative;
    flex-basis: 100%;
    height: 100%;
    align-self: center;
}
.model-1{
    position: absolute;
    left: 14%;
    bottom: 0;
    height: 100%;
    z-index: 1;
}
.shapes-n-miami-text{
    position: absolute;
    align-self: center;
}

.model-2{
    position: absolute;
    left: 35%;
    bottom: 0;
    height: 100%;
    z-index: 1;
}

.model-3{
    position: absolute;
    left: 65%;
    bottom: 0;
    height: 100%;
    z-index: 1;
}
.products-name{
    position: relative;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: bold;
    line-height: 12px;
}
.products-name p{
    margin:0;
}
/*
.miami-bombshell-banner-text{
    align-self: center;
    left: 40%;
    bottom: 23%;
}
*/
.resistant-banner-text{
    align-self: center;
    left: 37%;
    bottom: 10%;
}
.the-best-banner-text{
    align-self: center;
    left: 59%;
    bottom: 13%
}
/*Grid styling starts here*/
.grid-wraper{
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10%;
    border-bottom: 1px solid #d1d1d2;
}
.grid-header{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-top: 10%;
    letter-spacing: 5px;
    font-size: 18px;
    color: #FF9D0E;
    font-family: 'Gilroy-Light', sans-serif;
}
.grid-content-wraper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top:5%;
    height: 100%;
}

.grid-content{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    flex-basis: 20%;
    font-size: 14px;
}
.grid-content div{
    margin-bottom: 10%;
}
.logo{
/*    align-self: flex-end;   */
}
.resistant{
    margin-top: 29px;
}
.the-best{
    margin-top: 14px;
}
.btn-knowmore{
/*    border-radius: 25px;*/
    background: transparent;
    font-size: 12px;
    border: 1px solid black;
    max-width: 150px;
    min-width: 120px;
    max-height: 40px;
    align-self: center;
}

/*Call to Action motivation banner area starts here*/
.CTA-wraper{
    display: flex;
    position: relative;
    padding-bottom: 2%;
}
/*Call to Action written content*/
.cta-written-content{
/*
    display: flex;
    flex-flow: column nowrap;
*/
    margin-top:10%;
    flex-basis: 50%;
}
.cta-written-content p:first-child{
    letter-spacing: 5px;
    font-size: 1em;
    font-weight: bold;
}
.cta-written-content p:nth-child(2){
    font-size: 1em;
    font-weight: 300;
}
.CTA-btn-container{
    display: flex;
    justify-content: space-evenly;
    margin-top:10%;
}
.btn-booktreatment{
    background: #ffa016;
    font-size: 12px;
    color: #fff;
    margin-left: 5px;
}
.learnmore-button{
    background: transparent;
    font-size: 12px;
    color: #fff;
    margin-left: 5px;
    border: 1px solid white;
}

/*got out of cta written content*/
.CTA-model{
    position: absolute;
    flex-basis: 50%;
    height: auto;
    width: 22%;
    bottom: 0;
    right: 8%;
    z-index: 1;
   
}
/*.CTA-model img{
    position: absolute;
    bottom: 0;
}*/
/*a banner of pupel color is styled here*/
.purpel-div{
    position: relative;
    background: #592c82;
    width: 100%;
    height: 120px;
   /* bottom: 30px;*/
}
.btn-banner{
    display: flex;
    position: absolute;
    flex-basis: 50%;
    margin-left: 5%;
    width: 50%;
    justify-content: space-evenly;
    top: 45px;

}

/*media quries starts here*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
   .d-none-on-sm{
        display: none;
    }
    .hide-div{
        display: none;
    }
/*    QURIES FOR BANNER*/
    .banner-body{
        height: 50vw;
    }
    .background-main-text{
        bottom: 53%;
        font-size: 20vw;
    }
    .model-1{
        left: 3%;
        height: 105%;
    }
    .model-2{
        left: 31%;
        
    }
/*    quries for grid section*/
    .resistant button{
        
    }
    
/*    quries for CTA section*/
    .cta-written-content{
        flex-basis: 75%;
        font-size: 14px;
        margin-bottom: 5%;
    }
    .cta-written-content p{
        letter-spacing: 0px !important;
    }
   /* .CTA-model img{
        position: absolute;
        bottom: 0;
    }*/
}

@media only screen and (min-width: 421px) and (max-width: 767px){
     
    .navbar-gklogo img{
        margin:0;
        padding: 0;
    }
    .lang-select{
        margin: 0;
        padding: 5px;
        font-size: 12px;
    }
    .d-none-on-xs{
        display: none;
    }
    .right-side-area{
        margin: 0;
    }
    .hide-div{
        display: none;
    }
    .lang-list li{
        right: 5px;
    }
    .lang-select a:first-child{
        padding: 0 5px;
    }
    .user-credits i{
        margin: 0;
    }
/*    quries for banner images*/
    .banner-body{
        height: 65vw;
    }
    .background-main-text{
        bottom: 55%;
        font-size: 25vw;
    }
    .model-1{
        height: 110%;
        left: 34%;
        background:  url(images/model_1.png) no-repeat;
        box-sizing: border-box;
    }
    .miami-bombshell-banner-text {
        left: 62%;
        bottom: 45%;
    }
    .model-2{
        left: -12%;
    }
    .model-3{
        left: 70%
    }
/*    grid contents quries here*/
     .grid-header p{
        margin: 0;
    }
    .grid-content{
        font-size: 12px;
    }
    .grid-content-wraper{
        flex-flow: column wrap;
        margin: 0;
    }
    .logo{
        margin-top: 35px;
    }
    .grid-content div{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
/*    CTA SECTION HERE*/
    .cta-written-content{
        font-size: 12px;
        flex-basis: 80%;
        margin-bottom: 10%;
    }
    .cta-written-content p{
        letter-spacing: 0px !important;
    }
    .CTA-model{
        width:33%;
        right: 0;
    }
    .CTA-model img{
        
    }
    .btn-banner {
        flex-flow: column wrap;
        margin-left: 0;
        top: 25px;
        left: 14vw;
    }
    .btn-banner button{
        margin-bottom: 10px;
    }
    .purpel-div{
        display: flex;
        /*bottom: 0px;*/
        justify-content: center;

    }
}

@media only screen and (max-width: 420px){
    .navbar-gklogo img{
        margin:0;
        padding: 0;
    }
    .navbar-shadow{
        padding:0;
    }
    .lang-select{
        margin: 0;
        padding: 5px;
    }
    .right-side-area{
        margin: 5px;
    }
    .d-none-on-xs{
        display: none;
    }
    .user-credits i{
        margin: 0;
    }
    .hide-div{
        display: none;
    }
    .lang-list{
        width: 60vw;
    }
    .lang-list li{
        right: 0;
    }
    .lang-select a:first-child{
        padding: 0;
        font-size: 11px;
    }
/*    SIDEBAR QURIES*/
    .my-sidebar-body{
        margin-right: 5px;
    }
    .my-sidebar-header button{
        margin: 0;
    }
    .my-sidebar-area{
        width: 85vw;
}
/*    BANNER QURIES HERE*/
    .banner-body{
        height: 65vw;
    }
    .model-1{
        height: 110%;
        left: 33%;
        background:  url(images/model_1.png) no-repeat;
        box-sizing: border-box;
    }
    .miami-bombshell-banner-text {
        left: 62%;
        bottom: 45%;
        font-size: 5px;
        line-height: 6px;
    }
    .model-2{
        left: -16%;
    }
    .resistant-banner-text{
        bottom: 45%;
        left:0 ;
        font-size: 5px;
    }
    .model-3{
        left: 70%
    }
    .the-best-banner-text{
        bottom: 25%;
        left: 34%;
        font-size: 5px;
        line-height: 5px;
    }
/*    grid contents quries here*/
    .grid-header p{
        margin: 0;
    }
    .grid-content{
        font-size: 12px;
    }
    .grid-content-wraper{
        flex-flow: column wrap;
        margin: 0;
    }
    .logo{
        margin-top: 35px;
    }
    .grid-content div{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
/*    CTA QURIES HERE*/
    .cta-written-content{
        font-size: 12px;
        flex-basis: 100%;
        margin-bottom: 10%;
    }
    .cta-written-content p{
        letter-spacing: 0px !important;
    }
    .CTA-model img{
        display: none;
    }
    .btn-banner {
        flex-flow: column wrap;
        align-content: space-between;
        width: 90%;
        margin-left: 0;
        top: 25px;
    }
    
    .btn-banner button{
        margin-bottom: 10px;
    }
    .purpel-div{
        display: flex;
        justify-content: center;
        bottom: 0px;
    }
}


@keyframes sidebar-slidein{
    from {
    width: 0%; 
  }
/*
  to {
    width: 435px%;
  }
*/
}
@keyframes text-slidein{
    0%{
        right: 0%;
    }
    100%{
        right:100%;
    }
}